        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }
        header {
            background-color: #ff4d4d;
            color: white;
            padding: 5px;
            font-size: 24px;
			position: fixed;
			width:100%;
			top: 0;
			left:0;
        }
        nav {
            background: #333;
            padding: 10px;
			position: fixed;
			width:100%;
			top: 38px;
			left:0;
        }
        nav a {
            color: white;
            text-decoration: none;
            margin: 10px;
            font-size: 18px;
        }
        .container {
            display: flex;
               margin: 20px;
        }
        .left {
            width: 40%;
            position: fixed;
			top:110px;
            display: flex;
            align-items: center;
            justify-content: center;
			padding: 5px;
        }
        .left img {
            height: 480px;
        }
        .right {
            width: 60%;
            margin-left: 42%;
            max-height: 100vh;
            padding-right: 10px;
        }
        .bloc {
            width: 60%;
            margin-left: 42%;
            max-height: 100vh;
            padding-right: 10px;
        }		
        section {
            background: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
        }
        button {
            background-color: #ff4d4d;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
            border-radius: 5px;
        }
        button:hover {
            background-color: #cc0000;
        }
        footer {
            background: #333;
            color: white;
            padding: 10px;
            margin-top: 20px;
			position: fixed;
			width:100%;
			bottom:0;
        }
		#a-propos {
			margin-top:100px;
		}
